:root {
    --bg-color: #f6f6f6;         
    --content-bg: #ffffff;      
    --text-color: #202122;
    --border-color: #a2a9b1;
    --link-color: #0645ad;
    --table-header: #eaecf0;
    --infobox-bg: #f8f9fa;
}

.dark-mode {
    --bg-color: #101418;
    --content-bg: #1c2128;
    --text-color: #adbac7;
    --border-color: #444c56;
    --link-color: #539bf5;
    --table-header: #2d333b;
    --infobox-bg: #22272e;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

body {
    font-family: sans-serif;
    display: flex;
    color: var(--text-color);
    transition: background-color 0.3s;
}

.sidebar {
    width: 180px;
    padding: 20px;
    background-color: var(--bg-color);
    border-right: 1px solid var(--border-color);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.wiki-brand {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: var(--link-color);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}


.main-content {
    margin-left: 220px; 
    background-color: var(--content-bg);
    padding: 30px 50px;
    flex: 1;
    min-height: 100vh;
    box-sizing: border-box;
    border-left: 1px solid var(--border-color);
}

header {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.search-container {
    float: right;
    display: flex;
}

.search-container input {
    padding: 6px;
    border: 1px solid var(--border-color);
    background: var(--content-bg);
    color: var(--text-color);
}

.search-container button {
    background: var(--link-color);
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

/* Jadual & Infobox */
.wikitable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--infobox-bg);
}

.wikitable th, .wikitable td {
    border: 1px solid var(--border-color);
    padding: 10px;
}

.wikitable th {
    background-color: var(--table-header);
}

.infobox {
    float: right;
    width: 280px;
    border: 1px solid var(--border-color);
    background-color: var(--infobox-bg);
    margin-left: 20px;
    padding: 5px;
}

.infobox-header {
    background-color: #cedff2;
    color: #000; 
    padding: 8px;
    text-align: center;
}

.gallery-wiki {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    background: var(--infobox-bg);
    padding: 15px;
    border: 1px solid var(--border-color);
}

.gallery-item {
    border: 1px solid var(--border-color);
    background: var(--content-bg);
    padding: 5px;
    text-align: center;
}

.gallery-item img { max-width: 100%; height: auto; }

.btn-theme {
    width: 100%;
    padding: 8px;
    background: var(--link-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}
